@page
@model NewsAssignment.Pages.Articles.ArticleModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row mb-3">
    <h6 class="col-12">
        <a href='javascript:history.go(-1)' class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i>
            &nbsp;
            Return
        </a>
    </h6>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header @(Model.Article.Color)">
                <h5 class="card-title">
                    <i class="bi-@(Model.Article.Icon)"></i>
                    &nbsp;
                    @Model.Article.Category
                </h5>
            
                <h3 class="card-title">
                    @Model.Article.Title
                </h3>

                <em>@Model.Article.DaysAgo</em>
            </div>

            <div class="card-body">
                @if (!string.IsNullOrEmpty(Model.Article.ImageUrl))
                {
                    <img src="@Model.Article.ImageUrl" class="card-img-top p-2 mb-2" style="max-width: 100%; max-height: 20rem; object-fit: contain" />
                }

                <div class="mb-2">
                    <em>@Model.Article.Description</em>
                </div>

                <div class="mb-2">
                    <em>Written By: @Model.Article.Creator</em>
                </div>

                <hr />

                <div class="mt-2">@Model.Article.Content</div>
            </div>
        </div>
    </div>
</div>
<br/> <h4>Comments:</h4>
@await Html.PartialAsync("~/Pages/Shared/_CommentList.cshtml", Model.comments)
@await Html.PartialAsync("~/Pages/Shared/_CommentCreate.cshtml", new NewsAssignment.Models.Comment())