@page
@model NewsAssignment.Pages.ArticleCreationPortal.AdminViewModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>
                Article Publish Date
            </th>
            <th>
                Article Author
            </th>
            <th>
                Article Title
            </th>
            <th>
                Article Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Articles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pubDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    <a asp-page="/Articles/Article" asp-route-id="@item.Id">Details</a> &nbsp;
                    <a asp-page="./EditArticle" asp-route-id="@item.Id">Edit</a> &nbsp;
                    <a asp-route-id="@item.Id" asp-page-handler="delete">Delete</a> &nbsp;
                </td>
            </tr>
        }
    </tbody>
</table>
